# Python compiled files
*.pyc
*.pyo
__pycache__/

# Cython files
*.c
*.so

# Developer files
.project
.pydevproject
.vscode/

# Swap files (VI)
*.sw*

# backup files
*.bak

# rope project files
*.ropeproject
# temp files
*~

# mac files
.DS_Store

# local doc
doc/

#temp xml
aereport/temp.xml

#build folder
__build__/
*.egg-info
dist/
build/

# coverage data
htmlcov/
.coverage*

# Extra files placed by cisco_shared into examples
pkgs/examples-pkg/examples/dyntopo_laas
pkgs/examples-pkg/examples/dyntopo_xrut
pkgs/examples-pkg/examples/abstraction_example
pkgs/examples-pkg/examples/genie

# Files resulting from a git meld merge
*.orig

# vscode
.vscode